<div class="container">
  <div class="message-list">
    <ng-container *ngFor="let entry of data$ | async">
      <p [class]="'from-' + (entry.nickname === nickname ? 'me' : 'them')">
        <span>{{ entry.nickname }}</span
        ><br />
        {{ entry.message }}
        <span
          class="block"
          [ngStyle]="{ 'font-size': '10px', 'text-align': 'right' }"
          *ngIf="entry.nickname === nickname"
        >
          {{ entry.sentAt | date : "dd.MM.yy HH:mm" }}
        </span>
      </p>
    </ng-container>

    <input
      type="text"
      style="margin-top: 50px"
      #chatInput
      (keyup.enter)="handleMessage($event)"
    />
  </div>
</div>
